<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout fixo</title>
    <link rel="stylesheet" href="layfixo.css">
</head>
<body>
    <div id="conteinerG"><!--Conteiner grande geral-->
        <div id="marca">
            <h1>Marca</h1>
        </div>

        <div id="conteinerP"><!--conteiner pequeno para alguns, para display flex-->
            <div id="menu">
                <ul>
                    <li><a href="#">Home</a></li>
                    <li><a href="#">Sobre</a></li>
                    <li><a href="#">Noticias</a></li>
                </ul>
            </div>
            <div id="cont_prin"><!--conteudo principal-->
                <h1>Conteúdo principal</h1>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vero, ab? Iste magni laborum debitis nobis ullam explicabo dolores illo, enim ad dignissimos assumenda sint vitae eligendi, distinctio rem quasi iure!
                </p>
            </div>
            <div id="cont_sec"><!--conteudo secundario-->
                <h2>Conteúdo secundário</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sequi accusantium hic porro aliquid atque libero esse magnam similique tempore, vitae obcaecati dolorem ab nobis excepturi! Dolor aspernatur iste quis! Tempora?</p>
            </div>
        </div>

        <footer>
            <p>rodapé</p>
        </footer>
    </div>
</body>
</html>