@charset "UTF-8";

*{
    
}

ul{
    display: flex;
}

li{
    list-style-type: none;
}

li a{
    padding: 5px 30px;
    text-decoration: none;
    color: black;
    font-size: 1.2em;
    background-color: blueviolet;
    border: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

#home #nav .home a, #sobre  #nav .sobre a, #contatos  #nav .contatos a, #grade  #nav .grade a {
    background-color: rgba(137, 43, 226, 0.473);
}

li a:hover{
    background-color: rgba(137, 43, 226, 0.473);
}



